@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

/* reset */
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

ul li,
ol li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* clock design */
body {
  background: #0f1a36;
}

body .btn_area {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

body .btn_area > button {
  width: 120px;
  height: 36px;
  background: #0f1a36;
  color: #a6b1ce;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 3px 3px 3px rgba(7, 16, 39, 0.7),
    -3px -3px 3px rgba(42, 52, 75, 0.7);
  cursor: pointer;
}

body .btn_area > button:last-child {
  margin-left: 20px;
}

body .btn_area > button.active {
  box-shadow: inset 3px 3px 3px rgba(7, 16, 39, 0.7),
    inset -3px -3px 3px rgba(42, 52, 75, 0.7);
}

body #DIGITAL_CLOCK {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 680px;
  padding: 70px 100px;
  background: #0f1a36;
  border-radius: 20px;
  box-shadow: 7px 7px 10px rgba(7, 16, 39, 0.7),
    -7px -7px 10px rgba(42, 52, 75, 0.7);
  box-sizing: border-box;
  color: #a6b1ce;
}

body > #ANALOGUE_CLOCK {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  border-radius: 100%;
  background: #0f1a36;
  box-shadow: 7px 7px 10px rgba(7, 16, 39, 0.7),
    -7px -7px 10px rgba(42, 52, 75, 0.7);
}
